@{
    ViewData["Title"] = "Home Page";

    //Layout = "_Layout";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="~/Image/logo-ASP.jpg" alt="Alternative Text" />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>



</div>
