@{
    ViewData["Title"] = "Home Page";

    //Layout = "_Layout";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

   @* <img src="./Image/ss1.PNG" alt="Alternative Text" />*@

    <a href="/Mobil/Index">Pindah Halaman pakai Herf</a><br />

    <a asp-controller="Mobil" asp-action="Index">Pindah Halaman Menggunakan ASP_Controller</a>

</div>
